- content_for :sidebar do
  .sidebar
    = render 'shared/about'
    = render 'shared/search'
    = render 'shared/subscribe'
    = render 'shared/tweets'
    = render 'shared/skribit'
    = render 'shared/tag_cloud'

