- content_for :sidebar do
  .sidebar
    = render 'shared/about'
    = render 'shared/search'
    = render 'shared/subscribe'
    = render 'shared/tweets'
    = render 'shared/skribit'
    = render 'shared/tag_cloud'
    %img{:src => "http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png", :class => 'html5_logo'}
    :javascript
      rm2d_ki101('8','270','135','1mc2n79nnzq','00fff6',40);

